.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
.navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  margin: 0 12px;
}
.home-banner {
  background-image: url(Img/banner.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  padding: 1px 0;
  text-align: center;
}
.home-content {
  margin-top: 150px;
  margin-left: 45px;
  text-align: left;
}
.home-content h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 25px;
  font-size: 70px;
  color: black;
}
.home-content p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.btn-order {
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 30px;
  animation: pop 2.5s ease-in-out infinite;
}

@media (max-width: 768px) {
  .home-banner {
    height: 350px;
  }
  .home-banner h2 {
    font-size: 40px !important;
  }

  .home-banner p {
    font-size: 21px !important;
  }
  .home-banner .home-content {
    margin-top: 60px;
    margin-left: 8px;
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.home-content {
  animation: floatUp 1s ease-out forwards;
}
.menu {
  animation: floatUp 1s ease-out forwards;
}
.menu-content h2 {
  animation: floatUp 1s ease-out forwards;
}

.menu-header {
  margin: 58px 0;
  text-align: center;
}
.menu-header p {
  color: rgb(232, 136, 11);
  font-size: 20px;
}
.menu-header h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
}
.row-card {
  margin: 2px 0;
}

.home-slide-card {
  width: 250px;
}

.text {
  margin-top: 105px;
  margin-left: 45px;
}
.text p {
  color: rgb(232, 136, 11);
  font-size: 22px;
}
.text h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 44px;
  font-weight: 2px;
}
.text .text1 {
  color: black;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.img-home img {
  float: right;
  margin-top: 30px;
}
.pink-bg {
  background-color: rgb(244, 211, 218, 0.5);
  margin-top: 120px;
  height: 695px;
}
.pink-bg .pink-header {
  text-align: center;
  padding: 85px;
}
.pink-header p {
  color: rgb(232, 136, 11);
  font-size: 20px;
}
.pink-header h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
}
.cards {
  margin-left: 45px;
}
.card1 {
  height: 354px;
}
.card1 img {
  margin-left: 80px;
  padding: 25px;
}
.card1 h5 {
  text-align: center;
  font-size: 20px;
  color: rgb(51, 51, 135);
}
.card1 p {
  text-align: center;
}
.card1:hover {
  background-color: white;
  border-radius: 15px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
.card1 {
  transition: 0.3s ease;
  border-radius: 15px;
  overflow: hidden;
}

.card1:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(255, 100, 150, 0.3);
}

.testimonial-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 40px;
  height: 100%;
}

.testimonial-text {
  font-size: 20px;
  color: #2b1b19;
}
.testimonial-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.testimonial-author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
.testimonial-author h5 {
  color: #ff4d00;
  margin-bottom: 2px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(62%) sepia(79%) saturate(5635%) hue-rotate(9deg)
    brightness(97%) contrast(106%);
}
.testimonial-card:hover {
  box-shadow: 0 15px 35px rgba(255, 100, 150, 0.2);
}

.footer-section {
  background-color: #fff8f5;
  color: #4a4a4a;
}

.footer-logo {
  font-weight: 700;
  color: #ff5c1c;
  font-family: "Poppins", sans-serif;
}

.footer-text {
  font-size: 15px;
}

.footer-title {
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-section a {
  color: #4a4a4a;
  text-decoration: none;
}

.footer-section a:hover {
  color: #ff5c1c;
}

.footer-phone {
  color: #ff5c1c;
  font-weight: 600;
  font-size: 18px;
}
.slide-footer {
  margin-top: 104px;
}
.social-icons a {
  font-size: 18px;
  color: #ff5c1c;
  margin-right: 15px;
}

.social-icons a:hover {
  color: #e04100;
}
.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
  font-size: 14px;
  color: #777;
}
.menu-banner {
  background-image: url(Img/menu-banner.jpg);
  width: 100%;
  height: 410px;
  background-size: cover;
  background-position: center;
  padding: 1px 0;
  text-align: center;
}
.menu-content h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 70px;
  color: black;
  margin-top: 200px;
  margin-right: 395px;
}

.menu-content h1 {
  font-family: "Brush Script MT", "Pacifico";
  font-size: 150px;
  color: rgba(217, 82, 41, 0.1);
  font-weight: bold;
  position: absolute;
  top: 190px;
  left: 25%;
  animation: pop 2.5s ease-in-out infinite;
}
.card {
  transition: 0.3s ease;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(255, 100, 150, 0.3);
}

.map-container {
  margin: 105px 145px;
}

.contact-header h4 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 12px;
  color: rgb(15, 15, 14);
}
.Contact .container {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(255, 192, 203, 0.3);
  padding: 40px;
}
.Contact .form-control,
.Contact .form-select {
  border-radius: 10px;
  border: 1px solid #1e1c1c;
  padding: 12px;
}
.Contact .form-label {
  font-weight: 600;
  color: rgb(232, 136, 11);
}
.Contact .container .qr-code img {
  width: 100%;
  height: 400px;
  margin-left: 45px;
  border-radius: 17px;
}
.Contact .container .qr-code p {
  font-size: 25px;
  font-weight: bold;
  margin-left: 90px;
}
.Contact .container .text-qr p {
  text-align: center;
  margin-left: 85px;
  font-weight: bold;
  font-size: 20px;
  animation: pop 2.5s ease-in-out infinite;
}

@keyframes pop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08) translateY(-6px);
  }
}
.slide-about img {
  width: 500px;
}
.text-about {
  margin-top: 25px;
  text-align: center;
}
